.home-page {

    .text-zone {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;
        max-height: 90%;
        line-height: 1.5;
    }

    h1 {
        color: azure;
        font-size: 48px;
        margin: 0;
        font-weight: bold;
        
        img {
            width: 100px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: aliceblue;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 3px;
        font-weight: bold;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #F563BD;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #F563BD;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #F563BD;
            color: azure;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            transition: all 1.5s;
        }
    }

}