.nav-bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    min-height: 500px;

    .logo {
        display: block;
        padding: 5px 0;

        img {
            display: block;
            margin: auto;
            width: 70px;
        }
    }
}